// License: @@LICENSE@@
// Author: @@AUTHOR@@
// File Name: @@FILE_NAME@@
// Build Date: @@BUILD_DATE@@
// Version: @@VERSION@@

#ifndef _@@APP_NAME@@_HPP
#define _@@APP_NAME@@_HPP

// constants

// Options Flags
unsigned char DEFAULTS = 0;
unsigned char option_flags = 0; 


#endif

