// @@LICENSE@@
// @@AUTHOR@@
//
//
// @@FILE_NAME@@
// @@APP_NAME@@
// @@BUILD_DATE@@
// @@VERSION@@

#include <iostream>
#include <string>
#include <getopt.h>
#include "main.hpp"
#include "@@APP_NAME@@.hpp"

using namespace std;

int parse_options(int argc, char* argv[])
{
	cout << "Hello Template!" << endl;
	return 0;
}
