// @@LICENSE@@
// @@AUTHOR@@
//
//
// @@FILE_NAME@@
// @@APP_NAME@@#
// @@BUILD_DATE@@
// @@VERSION@@

#ifndef _@@APP_NAME@@_HPP
#define _@@APP_NAME@@_HPP

// constants

// Options Flags
unsigned char DEFAULTS = 0;
unsigned char option_flags = 0; 


#endif

