// @@LICENSE@@
// @@AUTHOR@@
//
//
// @@FILE_NAME@@
// @@APP_NAME@@
// @@BUILD_DATE@@
// @@VERSION@@

#include "@@CLASS_NAME@@.hpp"

@@CLASS_NAME@@::@@CLASS_NAME@@()
{
}

@@CLASS_NAME@@::~@@CLASS_NAME@@()
{

}