// @@LICENSE@@
// @@AUTHOR@@
//
//
// @@FILE_NAME@@
// @@APP_NAME@@#
// @@BUILD_DATE@@
// @@VERSION@@

#ifndef __@@CLASS_NAME@@_HPP
#define __@@CLASS_NAME@@_HPP

class @@CLASS_NAME@@
{

public:
	@@CLASS_NAME@@();
	virtual ~@@CLASS_NAME@@();

private:

};

#endif
