// File Name:  @@CLASS_NAME@@.cpp
// Build Date: @@BUILD_DATE@@
// Version:    @@VERSION@@

#ifndef __@@CLASS_NAME@@_HPP
#define __@@CLASS_NAME@@_HPP
@@BASE_CLASS_INCLUDE@@

class @@CLASS_NAME@@ @@BASE_CLASS@@
{

public:
	@@CLASS_NAME@@();
	virtual ~@@CLASS_NAME@@();

private:

};

#endif
