// Author:     ${AUTHOR}
// File Name:  ${FILE_NAME}
// Build Date: ${BUILD_DATE}
// Version:    ${VERSION}

#ifndef __${CLASS_NAME}_HPP
#define __${CLASS_NAME}_HPP

#include "@@BASE_CLASS_NAME@@.hpp"

class ${CLASS_NAME} : public @@BASE_CLASS_NAME@@
{

public:
	${CLASS_NAME}();
	virtual ~${CLASS_NAME}();

private:

};

#endif
