## Process this file with automake to produce Makefile.in 
bin_PROGRAMS = @@APP_NAME@@
@@APP_NAME@@_SOURCES = main.cpp @@APP_NAME@@.cpp
#@@APP_NAME@@_LDFLAGS = -static -lcppunit -L/usr/local/lib/
