// License:    @@LICENSE@@
// Author:     @@AUTHOR@@
// File Name:  @@FILE_NAME@@
// Build Date: @@BUILD_DATE@@
// Version:    @@VERSION@@

#ifndef _@@APP_NAME@@_HPP
#define _@@APP_NAME@@_HPP

#include <string>

using std::string;

void print_help();
int parse_options(int argc, char* argv[]);

#endif
